-e git+http://github.com/mitsuhiko/flask.git@e7d548595e8f2f03fb58c827bef8abae2f84aa59#egg=Flask-master
-e .

marshmallow==2.6.0
psycopg2==2.6.1
SQLAlchemy==1.0.11
bcrypt==2.0.0
hashids==1.1.0
flask-cors==2.1.2
bleach==1.4.3
